.banner {
	height: 870px;
	background-image: url(../images/back-image.jpg );
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	.banner_text {
		padding: 18rem 25rem;
		color: $White;
		h1 {
			font-size: $font-xxxl;
		}
		p {
			font-size: $font-xl;
			padding-bottom: 2rem;
		}
		input[type="button"] {
			border-radius: 30px;
			font-size: $font-l;
			padding: 1rem 10rem;
			cursor: pointer;
			outline: none; //!去除超連結的虛線外框
			border: 5px $White solid;
			color: $White;
			background: rgba(0, 0, 0, 0);
		}
		input[type="button"]:hover {
			background: rgba(0, 0, 0, 0.396);
		}
	}
}

.main {
	display: flex;
	justify-content: center;
	padding: 60px 0;
	.content {
		width: 58%;
		input[type="button"] {
			background-color: #00000000;
			border-radius: 30px;
			border: solid 1px #000;
			font-size: $font-l;
			padding: 1rem 5rem;
			cursor: pointer;
			outline: none;
		}
		input[type="button"]:hover {
			background: rgba(3, 3, 3, 0.129);
		}
		.content_left {
			display: flex;
			flex-direction: row-reverse;
			.text_left {
				padding: 10rem 5rem;
				line-height: 1.5;
				h2 {
					font-size: $font-xxl;
				}
				p {
					font-size: $font-l;
				}
				a {
					color: $GoldenBrown;
					text-decoration: none;
				}
			}
		}
		.content_right {
			display: flex;
			justify-content: center;
			.text_right {
				padding: 8rem 1.2rem;
				line-height: 1.5;
				li {
					line-height: 1.5rem;
					padding-top: 2rem;
				}
				h2 {
					font-size: $font-xxl;
				}
				h3 {
					font-size: $font-xl;
				}
				p {
					font-size: $font-l;
				}
				a {
					color: $GoldenBrown;
					text-decoration: none;
				}
				.btn{
					display: flex;
					justify-content: center;
					padding: 4rem;
				}
			}
		}
	}
}

.shop {
	display: flex;
	justify-content: center;
	background: $Gainsboro 0% 0% no-repeat padding-box;
	.shop_buy {
		display: flex;
		padding: 40px;
		.shop_style {
			padding: 16px;
			h3 {
				font-size: $font-xl;
			}
			h4 {
				font-size: $font-m;
				font-weight: normal;
			}
			p {
				padding-top: 20px;
				span {
					padding: 0 10px;
					color: $SuvaGrey;
					text-decoration: line-through;
				}
			}
		}

		.shop_img {
			position: relative;
		}

		.sold_out {
			position: absolute;
			top: 16px;
			left: 1rem;
			background-color: rgba(3, 3, 3, 0.478);
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 350px;
				height: 540px;
				font-size: $font-xl;
				color: $White;
			}
		}

	}
}

.Information {
	display: flex;
	justify-content: center;
	.content {
		padding: 30px 10px;
		.content_style {
			display: flex;
			justify-content: space-around;
			.content_text {
				padding-left: 20px;
				padding-top: 30px;
				line-height: 1.3;
				h3 {
					font-size: $font-xxl;
				}
				h4 {
					font-size: $font-l;
				}
				p {
					padding-bottom: 10px;
				}
				a {
					text-decoration: none;
					color: $LuxorGold;
				}
			}
		}
	}
}

.subscription {
	position: relative;
	height: 600px;
	background-image: url(../images/anis-m-footer.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.subscription_text {
		position: absolute;
		left: 28rem;
		bottom: 6rem;
		h2 {
			color: $SuvaGrey;
			font-size: $font-xxl;
		}
		input[type="email"] {
			padding: 16px 24px;
			border-radius: 2px;
			outline: none;
			font-size: $font-l;
			border: solid 3px $GoldenBrown;
		}
		button {
			padding: 15px;
			outline: none;
			border-radius: 2px;
			font-size: $font-l;
			border: solid 4px $GoldenBrown;
			color: $White;
			background-color: $GoldenBrown;
		}
	}
}


@media(max-width:992px) {
	.banner {
		background-image: url(../images/back-image-s.jpg );
		justify-content: center;
		align-items: center;
		.banner_text {
			padding: 0;
			font-size: $font-xxxl;
		}
	}

	.main {
		.content {
			width: 100%;
			.content_left,
			.content_right {
				flex-direction: column;
				img {
					padding: 20px;
				}
				.text_left,
				.text_right {
					padding: 0 6.5rem;
				}
			}
			.btn{
				padding: 0;
			}
		}
	}

	.shop {
		.shop_buy {
		    flex-direction: column;
		}
	}

	.Information {
		.content {
			.content_style {
				flex-direction: column;
				.content_text {
					justify-content: center;
					margin: 0 6rem;
				}
			}
		}
	}

	.subscription {
		.subscription_text {
			margin: -2rem;
			h2 {
				font-size: $font-xl;
			}
			input[type="email"] {
				padding: 8px 20px;
			}
			button {
				padding: 10px;
				font-size: $font-m;
			}
		}
	}
}

@media(max-width: 767px) {
	.subscription {
		.subscription_text {
			position: absolute;
			left: 10rem;
			bottom: 15rem;
		}
	}
}


@media(max-width: 414px) {
	.banner {
		.banner_text {
			justify-content: center;
			padding: 20px;
			h1{
				font-size: $font-xl;
			}
			p{
				font-size: $font-l;
			}
			input[type="button"] {
				padding: 1rem 7rem;
			}
		}
	}
	.main {
		.content {
			.content_left,
			.content_right {
				flex-direction: column;
				img {
					padding: 30px;
				}
				.text_left,
				.text_right {
					padding: 0 30px;
				}
			}
			.btn{
				padding: 0;
			}
		}
	}

	.sold_out {
		width: 91%;
		height: 76%;
		span{
			margin: -1rem;
		}
	}

	.Information {
		.content {
			.content_style {
				margin:  0 -65px;
				.content_text {
					width: 65%;
					padding: 0;
					h3{
						font-size: $font-xl;
					}
					h4{
						font-size: $font-m;
					}
				}
			}
		}
	}
	.subscription {
		.subscription_text {
			position: absolute;
			left: 4rem;
			bottom: 15rem;
			.form{
				width: 100%;
			}
			input[type="email"] {
				width: 100%;
				padding: 3px;
			}
			button {
				padding: 4px 3px;
				width: 100%;
			}
		}
	}
}