.login{
    display: flex;
    justify-content: center;
    .content{
        display: flex;
        padding: 12rem 0;
    }
    .log-in{
        padding: 12rem 2rem;
        h2{
            font-size: $font-xxl;
        }
        p{
            padding: 5px;
        }
        input[type="email"]{
            width: 350px;
            height: 38px;
            cursor:pointer;
            outline: none;
        }
        input[type="password"]{
            width: 350px;
            height: 38px;
            cursor:pointer;
            outline: none;
        }
    }
   
    .forgot{
        display: flex;
        padding: 10px 0;
        a{
            text-decoration: none;
            font-size: $font-m;
            color: $GoldenBrown;
            padding: 5px 0;
        }
        .buttonClick{
            justify-content: space-between;
            margin: 0 10rem;
        }
        
        button{
            cursor:pointer;
            color: $GoldenBrown; 
            font-size: $font-m;
            border: solid 1px $GoldenBrown;
            border-radius: 2px;
            background-color: rgba(255, 255, 255, 0.411);
            outline: none;
           margin: 0 5px;
           padding: 6px;
           
        }
        .signin {
                background-color: $GoldenBrown;
                a{
                    color: $White;
                }
           }
    }
}

@media(max-width: 767px){
    .login{
        .content{
            flex-direction: column;
            padding: 30px 0;
            .log-in{
                margin: 60px;
                h2{
                  margin: 3rem 5rem;  
                }
                form{
                    margin: 4rem 5rem;
                } 
            }
            .forgot{
                .buttonClick{
                    margin: 0 6rem;
                }
            }
        }
    }
}


@media(max-width: 414px){
    .login{
        .content{
            .forgot{
                .buttonClick{
                    margin: 0 5rem;
                }
            }
        }
    }
}